<footer class="footer is-size-6 p-1">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          Movies Review Database by <strong>Nikhil Pratap Singh</strong>. <a href="https://github.com/nikhil01010/qkfls-Movie-Reviews-Database">Github source code.</a>
        </p>
      </div>
    </div>
  </footer>
